﻿@page "/claimsPrincipal"

<h1>ClaimsPrincipal</h1>

<AuthorizeView>
    <Authorized>
        <h2>
            Hello @context.User.Identity.Name, here's the list of your claims:
        </h2>
        <ul>
            @foreach (var claim in context.User.Claims) { 
                <li>
                    <strong>@claim.Type:</strong> @claim.Value
                </li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <p>I'm sorry, but I can't display anything until you log in</p>
    </NotAuthorized>
</AuthorizeView>